<div>
  <h1>Doug's page</h1>
  <p>This is part of the homework. So I'm going to put some html jazz down on this here page. Plus some ruby</p>
  <% x = ['this is', 'ruby', 'jazz'] %>
  <ul>
    <% x.each do |y| %>
      <li><%= y %></li>
    <% end %>
  </ul>
</div>
<div>
  <h2>I love beer. I like to get drunk. It's all good times.</h2>
  <p>Here is a list of some beer that I enjoy.</p>
  <% beers = ['dogfish head', 'flying dog', 'laginutas', 'southern tier'] %>
  <ul>
    <% beers.each do |beer| %>
      <li><%= beer %></li>
    <% end %>
  </ul>
</div>
<div>
  <h3>One of these days I'll get into whiskey and bourbon</h3>
</div>